<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (C) 2020 GZOSP
     SPDX-License-Identifier: GPL-2.0
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gzosp.GZWalls"
    android:versionCode="30"
    android:versionName="1.0" >

    <application
        android:label="@string/app_name">

        <receiver android:name=".GZWalls">
            <intent-filter>
                <action android:name="com.android.launcher3.action.PARTNER_CUSTOMIZATION"/>
            </intent-filter>
        </receiver>

    </application>
</manifest>
